<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.Syncfusion.GenerateDataFormItemsForDictionary">
	<uses-sdk android:minSdkVersion="27"  />
	<application android:label="GenerateDataFormItemsForDictionary.Android"></application>
</manifest>
