<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Syncfusion.Licensing" version="16.4.0.44" targetFramework="monoandroid80" />
  <package id="Syncfusion.Xamarin.SfDataForm.Android" version="16.4.0.44" targetFramework="monoandroid80" />
  <package id="Syncfusion.Xamarin.SfNumericTextBox.Android" version="16.4.0.44" targetFramework="monoandroid80" />
  <package id="Syncfusion.Xamarin.SfNumericUpDown.Android" version="16.4.0.44" targetFramework="monoandroid80" />
</packages>